[submodule "chibi-scheme"]
	path = submodules/chibi-scheme
	url = https://github.com/radiganm/chibi-scheme.git
[submodule "s7"]
	path = submodules/s7
	url = https://github.com/radiganm/s7.git
[submodule "tecla"]
	path = submodules/tecla
	url = https://github.com/radiganm/tecla.git
